.filebtn-div {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.fileName-div {
  margin-left: 10px;
  font-size: 17px;
}
.filebtn {
  cursor: pointer;
  border: 1px white solid;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  top: 10px;
  margin: 10px;
}
.filebtn input[type="file"] {
  display: none;
}
