body {
  width: 100vh;
  height: 100vh;
  background-color: rgb(40, 40, 70);
}
.testForm {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testForm Div {
  margin: 10px;
}
.testForm input {
  width: 250px;
  height: 40px;
  padding-left: 10px;
}
.testForm button {
  margin: 40px;
  width: 270px;
  height: 40px;
}
