* {
  box-sizing: border-box;
}
select,
input,
button,
label {
  border-width: 0;
}
select,
input,
button {
  background-color: rgb(255, 255, 255);
  /* border: solid; */
}
button {
  border: solid 0.5px grey;
}
.vscode-dark select,
.vscode-dark input,
.vscode-dark button {
  background-color: rgb(240, 240, 240);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-center-box {
  width: 450px;
}
