.dockerfile-form-line {
  display: flex;
  margin-top: 10px;
}
.dockerfile-form-line select {
  /* margin: 5px 6px 0 0; */
  font-size: 12px;
  margin-right: 5px;
  cursor: pointer;
}
.dockerfile-form-line input {
  border-radius: 5px 0 0 5px;
}
.dockerfile-form-line button {
  /* margin-top: 5px; */
  width: 40px;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
