.form-box {
  display: flex;
  flex-direction: column;
  padding: 120px 45px;
  border-radius: 20px;
  background-color: rgb(240, 240, 240);
}
.vscode-dark .form-box {
  background-color: rgb(40, 40, 40);
}
.form .input-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
}
.form .input-div input {
  height: 35px;
  border-radius: 5px;
  border-width: 0;
  padding-left: 10px;
  width: 100%;
}
.form .input-div input[type="number"]::-webkit-outer-spin-button,
.form .input-div input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form button {
  height: 35px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}
.check-comment {
  align-self: flex-end;
  color: rgb(160, 42, 42);
  font-weight: 500;
}
